[Desktop Entry]
Exec=/home/walton/repos/code/packages/shared/dotfiles/bin/wallpaper-black
Name=Wallpaper Black
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
