As I watch yet another corporate ship leave, I begin to wonder where all these promised Champions and Absolutes even are. I’m pretty curious about them, actually.

I strongly suspect that the mora, Raga, might be a Champion, maybe even an Absolute, though it’s hard to say. That mora also had her own shiny ship with no one else on board other than an Adjudicator, even if it’s possible she had more of them there.

Otherwise, the corporate rats we’ve met aren’t all that powerful. Well, I mean, they tend to be over level 400 and have multiple guards of a similar level, but I’ve never felt pressured by them. Sure, combat would be dangerous; after all, I’ve had a mere three years in the system, while they’ve probably had centuries or more. But there’s something to be said for growth through adversity, often caused by some mechanic of the tutorial or my own actions.

Plus, Tacita.

Yup, I bet that dexterity lunatic would wipe the floor with most of the people we’ve met before they even noticed. Unlike me, they might be aware that she is fast, but not quite how fast. And if I threw her Veto… well, let’s say I think killing a Champion together wouldn’t be such a problem.

Of course, that applies only to a fresh or average Champion. A proper mid-grade or peak Champion is probably an entirely different beast, closer to an Absolute than a basic Champion. But even then… if they had a weakness Tacita or I could exploit…

If. If. If. If my corgi had wheels, he would be a bike.

I let these thoughts amuse me as I endure Sophie’s angry gaze, even as she burns holes into me after Izzy immediately told her what I did. I also got shouted at. Though maybe the blood on my clothes told on me as well.

These Martinez sisters are sticking together stronger than ever before, and it makes me wonder if Sophie could really have told Izzy the thing she told me when she was trapped in my mental space.

That reminds me, it’s been a while since I had an intruder in my mental space, and it feels nice. Though with the amount of jinxing I’ve indulged in as of late, something’s bound to happen soon. Be it corporations kidnapping me for my traits or gaining a new intruder in my mind.

While group 4, also known as the Angry Kittens, as Aaron telepathically reminds me, begins work on the substitute floor quest, I feel a hint of sad nostalgia. That’s just the best I can describe it.

Every one of them went off to do their own stuff in a way that shows they know where they’re best suited to help out and what role fits them. They make reference to inside jokes I can’t help but feel left out of, as I wasn't there when they came about.

We find an area where multiple ships belonging to different corporations have landed and begun to dig a hole to create a large underground structure to shelter Easy, Normal, and the occasional Hard difficulty attendees.

None of it feels like a permanent solution, and it doesn't have to be, after all, Diligence is just giving us something to work on so we don’t have to think too much. He probably thinks everyone’s the same kind of workaholic as him.

The Angry Kittens join the corporate staff and other attendees who’ve gathered here to help with the construction, sometimes going to meetings to plan out how best to bring the attendees here. Some even run or fly around to map out their locations and the like.

Trading starts too, with each side trying to scam the other, and I notice there are a few places where even Hell difficulty attendees can sit down for a rest.

I’m suddenly reminded that not everyone can stay in this heat for hours or days at a time, even if they are from Hell. Either they start running out of the mana they need to maintain their skills, or the mental wear of constantly using them begins to show. Some have even taken to wearing special clothes with tubes and cooling liquid flowing through them.

Standing on one of the dunes with the heat all around me, I watch them move into domed barriers and occasionally even into the hangars of ships. I look down at my scarred arms and my casual clothes.

I don’t even remember the last time I wore proper armor, much less any sort of gear, and yet almost everyone here has some.

However, even as I think that, there are monsters with incredible defenses that don’t even have to pretend to try to defend themselves against the heat. Their bodies just endure it all.

Lily, and to a point, Dennis, with his doubled stats, handle it better than most. Izzy, too, thanks to her evolved trait, which must be serving as some sort of coolant flowing through her body. Noodle also seems to be enjoying the heat, always moving to rest where it’s hottest, and Blackie, encased in his red armor, just stands there like a statue, scaring people.

As Lily gets pulled into the barrier and Maya puts her in a chokehold, much to Lily’s confusion, and Dennis gets into yet another fight with Min-Jae over something they found while I was in the Beyond, I just stand there.

I start to get the feeling that I don’t belong here until Tess climbs onto my dune and taps me on the shoulder.

When I look at her, she seems to have read my mind. Like she’s some kind of Izzy 2.0.

She grabs my hand, pulling me towards the others.

“Sometimes, you think way too much,” she says simply, and then I hear Dennis complaining about where I was, how I’ve been slacking off, and telling me to inform Kim that, since he and Aaron are now combined, he is, for some goddamn reason, effectively twice as tall as before because of some weird logic.

While sitting inside the barrier, I open my eyes and look at the training pyramids floating all around me. It’s the evolved version of the training I called “evil orbs” Lissandra once taught me so long ago.

Ever since then, I’ve been training my mana shaping with them as much as possible. Now, my efforts are interrupted by a notification.

[Mana Manipulation - lvl 84 > Mana Manipulation - lvl 85]

It feels almost weird to read it out of combat, though cases like this are more common than what I’ve been doing.

“Anything happen?” Min-Jae asks, with hundreds of metal orbs floating around him in dizzying patterns. Uninterrupted, they continue their motions even as he talks.

I shake my head and reread the notification before closing my eyes and concentrating on my mana sense and the pyramids I train with.

It’s impossible for us attendees to become a Champion inside the tutorial. One of the requirements specific to us is to complete the tutorial. It’s something the system forced in at the start, and that hasn’t changed, even as the Rulers, led by Ruby and their own intentions, replaced the original tutorial with its current version.

I think it kind of makes sense. After all, you have to be a Champion, a Champion of somewhere or something. That title remains even if Earth were to be destroyed and that connection severed. The system likes its themes. Connecting, I mean. Connections between master and disciple. An Absolute connected to a planet. Connecting two planets together in pairings, and so on.

Another requirement to become a Champion is three active skills at level 85 or higher, which I’m almost tempted to call an easy task, and only rarely realizing just how ridiculous that feat is.

The third requirement is to become a master of your subclass.

The fourth is a level over 450, meaning you must have upgraded your primary class.

And that’s it. Simple, isn’t it?

Becoming a master of your subclass is difficult on its own, nothing ever tells you how. You just have to hope you lucked out, picked correctly, and learn to enjoy the support of your subclass in everything you do.

Three level 85 skills… that’s what a Champion must have. I have been told by Doc that most beyond attendees never even break through the bottleneck between level 69 and 70 during the tutorial, and sometimes it takes them decades back on their home planet to raise a skill up to 80, if they ever do.

And even then, 5 to 10 is the average number from each planet that ever fulfills the requirements to become a Champion.

Of course, the older the planet, the more time people have to reach that level. But that also means the planet is powerful and likely has no true danger forcing that kind of growth. These people then often leave and become Champions somewhere else, that’s another option, apparently. Then there is internal strife, pairings, and other situations that often reduce the number of Champions or candidates on each planet.

5, 10, 20, it doesn’t really matter much, honestly. But it is interesting to think about.

I open my eyes, knowing that I willn’t be able to fully concentrate again with how giddy I am about the increase in skill level. So, I separate a part of my mind to lounge around and let the bulk of my mental capacity focus on training.

“Lily,” I shout, calling to our healer.

Sitting near us, with her back resting against Maya’s, she lifts her eyes off the Fuci in her lap, who is biting her fingers, and asks, “What?”

“Starting now, you breathe manually,” I say.

Even without turning, Maya groans, annoyed.

“I bet I could hold my breath for hours if I wanted,” Lily says with a smile.

“Of course, air is mainly there to supply the brain,” I answer.

Min-Jae chuckles, but Lily doesn’t even hesitate as she continues to brag, knowing exactly how to hurt me.

“Did you know there’s this chemical your body releases when it thinks you should feel tired? And some other stuff built into your muscles that eventually runs out? I met a few attendees with traits that suppressed those things and supported the generation of some other sort of chemicals. At least, that’s how I think they explained it at the Academy. I bet if I tried, I could mimic it.”

“That’s not even a reaction to what I said.”

“Also, what do you think of this?” She smiles, and quickly her eyes change color. Her left one turns gray, and the other turns brown.

“Show-off.”

“And this?” Lily’s hair turns white, and two horns grow from her forehead while her eyes switch color to red. The false Demon heart she’s been working on beats, distantly mimicking the real thing.

At that, the golden ferret on her lap freezes and twitches, quickly squirming out of her hands. Fuci hops a few paces away, stands on its hind legs, and looks at Lily in confusion.

All the changes revert back, but even as Lily reaches out her hand, Fuci refuses to come back to her. Instead, the ferret jumps in the way they move when startled, not directly straight, but with its body turned slightly diagonally, and it retreats over to Tess, climbing onto her and up to the top of her head to nestle into the blonde hair it has been amazed by since it first saw her.

Tess doesn’t even move or let it bother her, and instead continues to watch something far up in the sky.

“Maybe if you learn to turn into a ferret, Fuci will come back to you,” I say.

Lily rolls her eyes and leans back, pushing Maya, who reaches back and playfully slaps Lily’s head a few times until they settle down.

Five minutes later, the surface under the barrier ripples as a signature I recognize pushes its way inside. The not fully accepted, if honorary, member of The Boys.

Savant, of course, already knows about us, so he makes his way toward us and sits on a boulder nearby, entirely ignoring the manablock chair that’s now sitting free, after Sophie left a while ago.

The cowardly man must know I would’ve unmanifested it the moment he tried to sit on it.

“How good are you at deciphering stuff?” I ask him.

“Decent,” he answers.

I throw him one of the mana stones Tacita stole from the first corporation we met, and Savant catches it.

“Me and Sophie tried, and both of us left some notes there so you can try as well. Just make sure no one sees you with it. You’re an accomplice now.”

Savant looks at the stone, then at me, and for a while, looks at the space outside the barrier.

In the end, he stays where he is and gets to work.